# Configuration de la base de données
PORT=""
DB_HOST=""
DB_USER=""
DB_PASSWORD=""
DB_NAME=""
# mail
JWT_SECRET=""
MAIL_USER=""
MAIL_PASS=xxxx xxxx xxxx xxxx
MAIL_TO=""

JWT_SECRET="super_secret_key"
